<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>関節チェックリスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CRUD/style2.css') }}">
</head>
<body>
    <h2>痛みや腫れがある関節の場所をうかがいます。</h2>
    <p>下の図で、あなたが痛みや腫れがあると感じる関節をタップして印をつけてください。</p>
    <div id="imageContainer">
        <form id="jointForm" method="post">
        <!-- 関節のチェックボックスをここに配置 -->
        <!-- 左手のDIP関節のチェックボックス -->
        <label for="dip_joint_left_2" class="checkbox" data-x="10%" data-y="20%">左手指DIP関節2</label>
        <input type="checkbox" id="dip_joint_left_2" name="dip_joint_left_2" class="checkbox" data-x="10%" data-y="20%">
        <label for="dip_joint_left_3" class="checkbox" data-x="10%" data-y="20%">左手指DIP関節3</label>
        <input type="checkbox" id="dip_joint_left_3" name="dip_joint_left_3" class="checkbox" data-x="10%" data-y="20%">
        <label for="dip_joint_left_4" class="checkbox" data-x="10%" data-y="20%">左手指DIP関節4</label>
        <input type="checkbox" id="dip_joint_left_4" name="dip_joint_left_4" class="checkbox" data-x="10%" data-y="20%">
        <label for="dip_joint_left_5" class="checkbox" data-x="10%" data-y="20%">左手指DIP関節5</label>
        <input type="checkbox" id="dip_joint_left_5" name="dip_joint_left_5" class="checkbox" data-x="10%" data-y="20%">

        <!-- 右手のDIP関節のチェックボックス -->
        <label for="dip_joint_right_2" class="checkbox" data-x="10%" data-y="20%">右手指DIP関節2</label>
        <input type="checkbox" id="dip_joint_right_2" name="dip_joint_right_2" class="checkbox" data-x="10%" data-y="20%">
        <label for="dip_joint_right_3" class="checkbox" data-x="10%" data-y="20%">右手指DIP関節3</label>
        <input type="checkbox" id="dip_joint_right_3" name="dip_joint_right_3" class="checkbox" data-x="10%" data-y="20%">
        <label for="dip_joint_right_4" class="checkbox" data-x="10%" data-y="20%">右手指DIP関節4</label>
        <input type="checkbox" id="dip_joint_right_4" name="dip_joint_right_4" class="checkbox" data-x="10%" data-y="20%">
        <label for="dip_joint_right_5" class="checkbox" data-x="10%" data-y="20%">右手指DIP関節5</label>
        <input type="checkbox" id="dip_joint_right_5" name="dip_joint_right_5" class="checkbox" data-x="10%" data-y="20%">

        <!-- 母指IP関節のチェックボックス -->
        <label for="thumb_ip_joint_left" class="checkbox" data-x="10%" data-y="20%">左母指IP関節</label>
        <input type="checkbox" id="thumb_ip_joint_left" name="thumb_ip_joint_left" class="checkbox" data-x="10%" data-y="20%">
        <label for="thumb_ip_joint_right" class="checkbox" data-x="10%" data-y="20%">右母指IP関節</label>
        <input type="checkbox" id="thumb_ip_joint_right" name="thumb_ip_joint_right" class="checkbox" data-x="10%" data-y="20%">

        <!-- 左手のPIP関節のチェックボックス -->
        <label for="pip_joint_left_2" class="checkbox" data-x="10%" data-y="20%">左手指PIP関節2</label>
        <input type="checkbox" id="pip_joint_left_2" name="pip_joint_left_2" class="checkbox" data-x="10%" data-y="20%">
        <label for="pip_joint_left_3" class="checkbox" data-x="10%" data-y="20%">左手指PIP関節3</label>
        <input type="checkbox" id="pip_joint_left_3" name="pip_joint_left_3" class="checkbox" data-x="10%" data-y="20%">
        <label for="pip_joint_left_4" class="checkbox" data-x="10%" data-y="20%">左手指PIP関節4</label>
        <input type="checkbox" id="pip_joint_left_4" name="pip_joint_left_4" class="checkbox" data-x="10%" data-y="20%">
        <label for="pip_joint_left_5" class="checkbox" data-x="10%" data-y="20%">左手指PIP関節5</label>
        <input type="checkbox" id="pip_joint_left_5" name="pip_joint_left_5" class="checkbox" data-x="10%" data-y="20%">

        <!-- 右手のPIP関節のチェックボックス -->
        <label for="pip_joint_right_2" class="checkbox" data-x="10%" data-y="20%">右手指PIP関節2</label>
        <input type="checkbox" id="pip_joint_right_2" name="pip_joint_right_2" class="checkbox" data-x="10%" data-y="20%">
        <label for="pip_joint_right_3" class="checkbox" data-x="10%" data-y="20%">右手指PIP関節3</label>
        <input type="checkbox" id="pip_joint_right_3" name="pip_joint_right_3" class="checkbox" data-x="10%" data-y="20%">
        <label for="pip_joint_right_4" class="checkbox" data-x="10%" data-y="20%">右手指PIP関節4</label>
        <input type="checkbox" id="pip_joint_right_4" name="pip_joint_right_4" class="checkbox" data-x="10%" data-y="20%">
        <label for="pip_joint_right_5" class="checkbox" data-x="10%" data-y="20%">右手指PIP関節5</label>
        <input type="checkbox" id="pip_joint_right_5" name="pip_joint_right_5" class="checkbox" data-x="10%" data-y="20%">

        <!-- 左手のMP関節のチェックボックス -->
        <label for="mp_joint_left_1" class="checkbox" data-x="10%" data-y="20%">左手指MP関節1</label>
        <input type="checkbox" id="mp_joint_left_1" name="mp_joint_left_1" class="checkbox" data-x="10%" data-y="20%">
        <label for="mp_joint_left_2" class="checkbox" data-x="10%" data-y="20%">左手指MP関節2</label>
        <input type="checkbox" id="mp_joint_left_2" name="mp_joint_left_2" class="checkbox" data-x="10%" data-y="20%">
        <label for="mp_joint_left_3" class="checkbox" data-x="10%" data-y="20%">左手指MP関節3</label>
        <input type="checkbox" id="mp_joint_left_3" name="mp_joint_left_3" class="checkbox" data-x="10%" data-y="20%">
        <label for="mp_joint_left_4" class="checkbox" data-x="10%" data-y="20%">左手指MP関節4</label>
        <input type="checkbox" id="mp_joint_left_4" name="mp_joint_left_4" class="checkbox" data-x="10%" data-y="20%">
        <label for="mp_joint_left_5" class="checkbox" data-x="10%" data-y="20%">左手指MP関節5</label>
        <input type="checkbox" id="mp_joint_left_5" name="mp_joint_left_5" class="checkbox" data-x="10%" data-y="20%">

        <!-- 右手のMP関節のチェックボックス -->
        <label for="mp_joint_right_1" class="checkbox" data-x="10%" data-y="20%">右手指MP関節1</label>
        <input type="checkbox" id="mp_joint_right_1" name="mp_joint_right_1" class="checkbox" data-x="10%" data-y="20%">
        <label for="mp_joint_right_2" class="checkbox" data-x="10%" data-y="20%">右手指MP関節2</label>
        <input type="checkbox" id="mp_joint_right_2" name="mp_joint_right_2" class="checkbox" data-x="10%" data-y="20%">
        <label for="mp_joint_right_3" class="checkbox" data-x="10%" data-y="20%">右手指MP関節3</label>
        <input type="checkbox" id="mp_joint_right_3" name="mp_joint_right_3" class="checkbox" data-x="10%" data-y="20%">
        <label for="mp_joint_right_4" class="checkbox" data-x="10%" data-y="20%">右手指PIP関節4</label>
        <input type="checkbox" id="mp_joint_right_4" name="mp_joint_right_4" class="checkbox" data-x="10%" data-y="20%">
        <label for="mp_joint_right_5" class="checkbox" data-x="10%" data-y="20%">右手指PIP関節5</label>
        <input type="checkbox" id="mp_joint_right_5" name="mp_joint_right_5" class="checkbox" data-x="10%" data-y="20%">

        <!-- 手関節のチェックボックス -->
        <label for="wrist_joint_hand_left" class="checkbox" data-x="10%" data-y="20%">左手関節</label>
        <input type="checkbox" id="wrist_joint_hand_left" name="wrist_joint_hand_left" class="checkbox" data-x="10%" data-y="20%">
        <label for="wrist_joint_hand_right" class="checkbox" data-x="10%" data-y="20%">右手関節</label>
        <input type="checkbox" id="wrist_joint_hand_right" name="wrist_joint_hand_right" class="checkbox" data-x="10%" data-y="20%">

        <!-- 肘関節のチェックボックス --> 
        <label for="elbow_joint_left" class="checkbox" data-x="10%" data-y="20%">左肘関節</label>
        <input type="checkbox" id="elbow_joint_left" name="elbow_joint_left" class="checkbox" data-x="10%" data-y="20%">
        <label for="elbow_joint_right" class="checkbox" data-x="10%" data-y="20%">右肘関節</label>
        <input type="checkbox" id="elbow_joint_right" name="elbow_joint_right" class="checkbox" data-x="10%" data-y="20%">

        <!-- 肩関節のチェックボックス -->
        <label for="shoulder_joint_left" class="checkbox" data-x="10%" data-y="20%">左肩関節</label>
        <input type="checkbox" id="shoulder_joint_left" name="shoulder_joint_left" class="checkbox" data-x="10%" data-y="20%">
        <label for="shoulder_joint_right" class="checkbox" data-x="10%" data-y="20%">右肩関節</label>
        <input type="checkbox" id="shoulder_joint_right" name="shoulder_joint_right" class="checkbox" data-x="10%" data-y="20%">

        <!-- 股関節のチェックボックス -->
        <label for="hip_joint_left" class="checkbox" data-x="10%" data-y="20%">左股関節</label>
        <input type="checkbox" id="hip_joint_left" name="hip_joint_left" class="checkbox" data-x="10%" data-y="20%">
        <label for="hip_joint_right" class="checkbox" data-x="10%" data-y="20%">右股関節</label>
        <input type="checkbox" id="hip_joint_right" name="hip_joint_right" class="checkbox" data-x="10%" data-y="20%">

        <!-- 膝関節のチェックボックス -->
        <label for="knee_joint_left" class="checkbox" data-x="10%" data-y="20%">左膝関節</label>
        <input type="checkbox" id="knee_joint_left" name="knee_joint_left" class="checkbox" data-x="10%" data-y="20%">
        <label for="knee_joint_right" class="checkbox" data-x="10%" data-y="20%">右膝関節</label>
        <input type="checkbox" id="knee_joint_right" name="knee_joint_right" class="checkbox" data-x="10%" data-y="20%">

        <!-- 足関節のチェックボックス -->
        <label for="ankle_joint_left" class="checkbox" data-x="10%" data-y="20%">左足関節</label>
        <input type="checkbox" id="ankle_joint_left" name="ankle_joint_left" class="checkbox" data-x="10%" data-y="20%">
        <label for="ankle_joint_right" class="checkbox" data-x="10%" data-y="20%">右足関節</label>
        <input type="checkbox" id="ankle_joint_right" name="ankle_joint_right" class="checkbox" data-x="10%" data-y="20%">

        <!-- 左足指のMTP関節のチェックボックス -->
        <label for="mtp_joint_left_1" class="checkbox" data-x="10%" data-y="20%">左足指MP関節1</label>
        <input type="checkbox" id="mtp_joint_left_1" name="mtp_joint_left_1" class="checkbox" data-x="10%" data-y="20%">
        <label for="mtp_joint_left_2" class="checkbox" data-x="10%" data-y="20%">左足指MP関節2</label>
        <input type="checkbox" id="mtp_joint_left_2" name="mtp_joint_left_2" class="checkbox" data-x="10%" data-y="20%">
        <label for="mtp_joint_left_3" class="checkbox" data-x="10%" data-y="20%">左足指MP関節3</label>
        <input type="checkbox" id="mtp_joint_left_3" name="mtp_joint_left_3" class="checkbox" data-x="10%" data-y="20%">
        <label for="mtp_joint_left_4" class="checkbox" data-x="10%" data-y="20%">左足指MP関節4</label>
        <input type="checkbox" id="mtp_joint_left_4" name="mtp_joint_left_4" class="checkbox" data-x="10%" data-y="20%">
        <label for="mtp_joint_left_5" class="checkbox" data-x="10%" data-y="20%">左足指MP関節5</label>
        <input type="checkbox" id="mtp_joint_left_5" name="mtp_joint_left_5" class="checkbox" data-x="10%" data-y="20%">

        <!-- 右足指のMTP関節のチェックボックス -->
        <label for="mtp_joint_right_1" class="checkbox" data-x="10%" data-y="20%">右足指MP関節1</label>
        <input type="checkbox" id="mtp_joint_right_1" name="mtp_joint_right_1" class="checkbox" data-x="10%" data-y="20%">
        <label for="mtp_joint_right_2" class="checkbox" data-x="10%" data-y="20%">右足指MP関節2</label>
        <input type="checkbox" id="mtp_joint_right_2" name="mtp_joint_right_2" class="checkbox" data-x="10%" data-y="20%">
        <label for="mtp_joint_right_3" class="checkbox" data-x="10%" data-y="20%">右足指MP関節3</label>
        <input type="checkbox" id="mtp_joint_right_3" name="mtp_joint_right_3" class="checkbox" data-x="10%" data-y="20%">
        <label for="mtp_joint_right_4" class="checkbox" data-x="10%" data-y="20%">右足指PIP関節4</label>
        <input type="checkbox" id="mtp_joint_right_4" name="mtp_joint_right_4" class="checkbox" data-x="10%" data-y="20%">
        <label for="mtp_joint_right_5" class="checkbox" data-x="10%" data-y="20%">右足指PIP関節5</label>
        <input type="checkbox" id="mtp_joint_right_5" name="mtp_joint_right_5" class="checkbox" data-x="10%" data-y="20%">
        <div class="navigation-buttons">
            <button type="button" onclick="window.location='previousPage.html';">前へもどる</button>
            <button type="submit">次へすすむ</button>
        </div>
        </form> <!-- フォームの終了タグ -->
    </div> <!-- imageContainerの終了タグ -->
    <script src="scripts.js"></script>
</body> <!-- Bodyの終了タグ -->
</html> <!-- HTMLの終了タグ -->

